{{- template "nvim/init.lua" . -}}

-- Windows ====================================================================

-- Change default shell
if vim.fn.executable("nu") then
  vim.o.shell = "nu"
  vim.o.shellcmdflag = "--stdin --no-newline -c"
  vim.o.shellredir = "out+err> %s"
  vim.o.shellxescape = ""
  vim.o.shellxquote = ""
  vim.o.shellquote = ""
  vim.o.shelltemp = false
else
  vim.o.shell = vim.fn.executable("pwsh") == 1 and "pwsh" or "powershell"
  vim.o.shellcmdflag =
    "-NoLogo -NoProfile -NonInteractive -ExecutionPolicy RemoteSigned -Command [Console]::InputEncoding=[Console]::OutputEncoding=[System.Text.UTF8Encoding]::new();$PSDefaultParameterValues['Out-File:Encoding']='utf8';"
  vim.o.shellredir = "2>&1 | %{ '$_' } | Out-File %s; exit $LastExitCode"
  vim.o.shellpipe = "2>&1 | %{ '$_' } | Tee-Object %s; exit $LastExitCode"
  vim.o.shellquote = ""
  vim.o.shellxquote = ""
end

-- Auto switch input method

local ffi = require("ffi")
ffi.cdef([[
  typedef int BOOL;
  typedef unsigned int UINT;
  typedef void* HWND;
  typedef intptr_t LONG_PTR;
  typedef uint64_t UINT_PTR;
  typedef UINT_PTR WPARAM;
  typedef LONG_PTR LPARAM;

  HWND GetForegroundWindow();
  HWND ImmGetDefaultIMEWnd(HWND hWnd);
  LONG_PTR SendMessageA(HWND hWnd, UINT Msg, WPARAM wParam, LPARAM lParam);
]])

-- Load Imm32 for the IME window handle
local imm32 = ffi.load("Imm32")

-- Trigger when leaving Insert mode
vim.api.nvim_create_autocmd("InsertLeave", {
	pattern = "*",
	callback = function()
		local WM_IME_CONTROL = 0x0283
		local IMC_SETCONVERSIONMODE = 0x0002
		-- 0 is the value for "Alphanumeric/English" mode in Microsoft Pinyin
		local MODE_ENGLISH = 0

		local hwnd = ffi.C.GetForegroundWindow()
		if hwnd ~= nil then
			local ime_hwnd = imm32.ImmGetDefaultIMEWnd(hwnd)
			ffi.C.SendMessageA(ime_hwnd, WM_IME_CONTROL, IMC_SETCONVERSIONMODE, MODE_ENGLISH)
		end
	end,
	desc = "Set Microsoft Pinyin to English mode",
})
