bottom
htop
Code
Code - Insiders
dconf
enchant
evolution
fcitx
gnome-control-center
gnome-session
goa-1.0
google-chrome
gtk-3.0
ibus
nautilus
pulse
sogoupinyin
spark-union
spark-wine
lazygit/state.yml
.gsd-keyboard.settings-ported
gnome-initial-setup-done
mimeapps.list
user-dirs.*
zsh/plugins
