bottom
htop
Code
Code - Insiders
dconf
enchant
evolution
fcitx
gnome-control-center
gnome-session
goa-1.0
google-chrome
gtk-2.0
gtk-3.0
gtk-4.0
GIMP
GNOME-xdg-terminals.list
ibus
nautilus
oh-my-zsh
pulse
scoop
sogoupinyin
solaar
spark-union
spark-wine
tiling-assistant
lazygit/state.yml
.gsd-keyboard.settings-ported
gnome-initial-setup-done
mimeapps.list
nvm
ubuntu-xdg-terminals.list
user-dirs.*
xdg-terminals.list
zsh/plugins
