{
	"$schema": "https://www.schemastore.org/prettierrc.json",
	"overrides": [
		{
			"files": ["*.json"],
			"options": {
				"trailingComma": "none"
			}
		},
		{
			"files": ["*.jsonc"],
			"options": {
				"parser": "json",
				"trailingComma": "none"
			}
		}
	]
}
