# vim: foldmethod=marker
# chezmoi:template: left-delimiter="# [[" right-delimiter="]]"

add_path() {
  case ":$PATH:" in
  *":$1:"*) ;;
  *) export PATH="$1:$PATH" ;;
  esac
}

# [[- if eq .chezmoi.os "linux" ]]

# Locale
export LANG="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"

# XDG
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"

# Ensure XDG dirs exist
mkdir -p "$XDG_CONFIG_HOME" "$XDG_CACHE_HOME" "$XDG_DATA_HOME" "$XDG_STATE_HOME"

# Rust
export RUSTUP_HOME="$XDG_DATA_HOME/rustup"
export CARGO_HOME="$XDG_DATA_HOME/cargo"

# Go
export GOPATH="$XDG_DATA_HOME/go"
export GOCACHE="$XDG_CACHE_HOME/go-build"
export GOMODCACHE="$GOPATH/pkg/mod"

# Python
export UV_TOOL_DIR="$XDG_DATA_HOME/uv"
export UV_TOOL_BIN_DIR="$UV_TOOL_DIR/bin"
export PIP_CACHE_DIR="$XDG_CACHE_HOME/pip"

# Node
export NPM_CONFIG_PREFIX="$XDG_DATA_HOME/npm"
export NPM_CONFIG_CACHE="$XDG_CACHE_HOME/npm"
export PNPM_HOME="$XDG_DATA_HOME/pnpm"

# Bun
export BUN_INSTALL_BIN="$XDG_DATA_HOME/bun/bin"
export BUN_INSTALL_GLOBAL_DIR="$XDG_DATA_HOME/bun/global"
export BUN_INSTALL_CACHE_DIR="$XDG_CACHE_HOME/bun"

# Path
# add_path "$XDG_DATA_HOME/mise/shims"
add_path "$CARGO_HOME/bin"
add_path "$GOPATH/bin"
add_path "$UV_TOOL_BIN_DIR"
add_path "$NPM_CONFIG_PREFIX/bin"
# add_path "$PNPM_HOME/bin"
add_path "$BUN_INSTALL_BIN"

# [[- end ]]

# Shell
export LS_COLORS="ow=0;33:di=0;94"

# Editor
export EDITOR="nvim"
export VISUAL="nvim"

# Pager
export MANPAGER="nvim +Man!"
export MANROFFOPT="-c"

# Fzf
export FZF_DEFAULT_COMMAND="fd --type file --hidden"
export FZF_DEFAULT_OPTS="--ansi --cycle --reverse --border=rounded --height=100% --preview='bat --color=always --theme=ansi --decorations=never {}' --preview-window='right,50%,border-left,<50(down,50%,border-up)' --color=bg:-1 --color=gutter:-1"
export FZF_ALT_C_OPTS="--walker-skip .git,node_modules,target --preview 'ls --color=always {}'"
export FZF_CTRL_T_OPTS="--walker-skip .git,node_modules,target"
export FZF_CTRL_R_OPTS="--color header:italic --preview 'echo {}' --preview-window='wrap'"

# Ripgrep
export RIPGREP_CONFIG_PATH="$HOME/.ripgreprc"

# C/C++
export CC="gcc"
export CXX="g++"

# Rust
export RUSTUP_DIST_SERVER="https://rsproxy.cn"
export RUSTUP_UPDATE_ROOT="https://rsproxy.cn/rustup"
export CARGO_REGISTRIES_CRATES_IO_PROTOCOL="sparse"
export CARGO_SOURCE_CRATES_IO_REPLACE_WITH="rsproxy"
export CARGO_SOURCE_RSPROXY_REGISTRY="sparse+https://rsproxy.cn/index/"

# Go
export GOPROXY="https://goproxy.cn,direct"
export GO111MODULE="on"

# Python
export UV_DEFAULT_INDEX="https://pypi.tuna.tsinghua.edu.cn/simple"
export PIP_INDEX_URL="https://pypi.tuna.tsinghua.edu.cn/simple"

# Node
export NPM_CONFIG_REGISTRY="https://registry.npmmirror.com"
export PNPM_CONFIG_REGISTRY=$NPM_CONFIG_REGISTRY

# Wrangler
export WRANGLER_SEND_METRICS=false

# Mise
export DOT_HOME="$HOME/.local/share/chezmoi"
export NOTE_HOME="$HOME/OneDrive/Notes"
export PROJECT_HOME="$HOME/Projects"

# Bin
export BIN_DIR="$HOME/.local/bin"
mkdir -p "$BIN_DIR"
add_path "$BIN_DIR"
