; vim: ft=gitconfig foldmethod=marker
; chezmoi:template: left-delimiter="# [[" right-delimiter="]]"

[user]
	name = zeekcheung
	email = zeekcheung@outlook.com
[core]
	autocrlf = false
[pull]
	rebase = true
[merge]
	ff = only
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

; Proxy {{{

; [url "https://v6.gh-proxy.org/https://github.com"]
; 	insteadOf = https://github.com

; [[- if eq .chezmoi.os "windows" -]]
[http]
	proxy = http://127.0.0.1:10808
[https]
	proxy = http://127.0.0.1:10808
; [[- end ]]

; }}}
