{{- template "nushell/config.nu" -}}

alias se = sudoedit
alias grep = grep --color=always
alias fetch = fastfetch
alias zed = zededitor

alias tm = tmux new-session -A -s main
alias tk = tmux kill-session
alias tl = tmux list-sessions

alias p = paru
alias pas = paru -S
alias par = paru -Rns
alias paq = paru -Q
alias pqu = paru -Syyu
