[Desktop Entry]
Type=Application
Name=Alacritty
GenericName=Terminal emulator
Comment=A fast, cross-platform, OpenGL terminal emulator
Categories=System;TerminalEmulator;
TryExec=alacritty
Exec=alacritty
Icon=Alacritty-circle

[Desktop Action New]
Name=New Terminal
Exec=alacritty
